#app,
body {
    overflow-x: hidden;
}

section {
    padding: 70px 0;
}
section.blue {
    background-color: #229BD8;
    color: #FFFFFF;
    padding-bottom: 40px;
}
section.overlay,
footer.overlay {
    margin-top: -30px;
    border-radius: 20px 20px 0 0;
    background-color: #FFFFFF;
}

section .title {
    font-size: 34px;
    margin-bottom: 24px;
    color: #229BD8;
}

/* Navbar */
nav.navbar {
    background-color: #FFFFFF;
    padding-top: 32px;
}

.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler:focus-visible {
    outline: none;
}

.navbar-toggler {
    display: flex;
    flex-direction: column;
    height: 28px;
    justify-content: space-between;
    border: none;
    padding: .25rem 0;
}
.hamburger-line {
    width: 28px;
    height: 3px;
    background-color: #229BD8;
    transition: .7s;
}

.navbar-toggler.active .hamburger-line:nth-child(1) {
    transform: rotateZ(47deg) translate(-2px, 14px);
}

.navbar-toggler.active .hamburger-line:nth-child(2) {
    transform: translateX(200px);
}

.navbar-toggler.active .hamburger-line:nth-child(3) {
    transform: rotateZ(-47deg) translate(-3px, -15px);
}

/* Hero */
.hero {
    padding: 70px 0;
}
.hero-title {
    font-size: 50px;
    color: #229BD8;
    font-weight: bold;
}

.btn-primary-custom {
    background-color: #FFD523;
    padding: 14px 40px;
    border-radius: 40px;
    transition: .3s;
}
.btn-primary-custom:hover {
    background-color: #f3cc1d;
    color: #FFFFFF;
    box-shadow: 0 15px 25px -10px rgba(255, 215, 35, .8);
}
.btn-primary-custom svg {
    transition: .3s;
}
.btn-primary-custom:hover svg {
    fill: #FFFFFF !important;
}

/* About / apa itu peduli lindungi */
.phone-mockup {
    transform: translate(-25px, 40px);
    z-index: -2;
}
.about-paragraf {
    padding-bottom: 30px;
}

/* Fitur */
section.feature {
    position: relative;
}

.card {
    background: linear-gradient(155.18deg, rgba(34, 155, 216, 0) -7.74%, rgba(34, 155, 216, 0) 2.97%, #229BD8 48.15%, #229BD8 98.84%);
    border-radius: 40px;
    border: none;
    margin-left: auto;
    padding-top: 100px;
    color: #FFFFFF;
    height: 100%;
}
.card-icon {
    position: absolute;
    top: -50px;
    padding: 30px;
    background-color: #FFD523;
    height: 150px;
    width: 150px;
    border-radius: 40px;
}
.card-icon img {
    height: 90px;
}
.card-body {
    padding: 40px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Works / cara kerja */
.works {
    background-image: url(../images/dot-pattern.svg);
    background-repeat: no-repeat;
}

/* video */
.embed-video {
    width: 100%;
    position: relative;
    padding-top: calc(9 / 16 * 100% );
    margin-bottom: 70px;
}

.embed-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

/* FAQ */
.accordion-item {
    position: relative;
    border-radius: 30px !important;
    background-color: #FFFFFF;
    margin: 20px 0;
    z-index: 2;
}
.accordion-button {
    border-radius: 80px !important;
    z-index: unset;
    position: relative;
}
.accordion-item:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1 !important;    
    margin: -4px ;
    border-radius: 35px !important;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.accordion-button:not(.collapsed) {
    background-color: #FFFFFF;
    box-shadow: none;
}

.accordion-button:hover {
    z-index: unset;
}
.accordion-button:focus {
    z-index: unset;
}

.accordion-button::after {
    display: none;
}
.accordion-collapse {
    z-index: -2 !important;
    background-color: transparent !important;
}
.collapse-btn {
    margin-left: auto;
    height: 32px;
    width: 32px;
    background-image: linear-gradient(20deg, #a1c4fd 0%, #c2e9fb 100%);
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#vertical-line,
#horizontal-line {
    width: 2px;
    height: 15px;
    background-color: #FFFFFF;
}
#horizontal-line {
    transform: translateX(-2px) rotateZ(90deg);
    transition: 1s;
    transform-origin: center center; 
}
#vertical-line {
    transition: .5s;
}
.accordion-button:not(.collapsed) .collapse-btn #vertical-line {
    transform: translateX(2px) rotateZ(90deg);
}

/* download */

.download {
    padding: 0;
}

.download-text {
    padding: 120px 0;
}

.app-scroll {
    overflow: hidden;
    position: relative;
}
.img-scroll-hr {
    height: 450px;
    transform: translateX(-100px);
    padding-bottom: 50px;
}
.img-scroll-1,
.img-scroll-2 {
    position: absolute;
    width: 50%;
    padding: 0 20px;
    top: 0;
}

.img-scroll-2 {
    left: 50%;
    top: -100%;
}

/* Footer */
footer {
    padding: 70px 0;
}

.logo-instansi {
    width: 100%;
}

.logo-instansi img {
    height: 22px;
}

@media (min-width: 768px) {
    .hero-title {
        font-size: 60px;
    }
    .img-scroll-hr {
        height: 550px;
    }
    .logo-instansi img {
        height: 40px;
    }
}

@media (min-width: 992px) {
    section.overlay,
    footer.overlay {
        margin-top: -40px;
        border-radius: 40px 40px 0 0;
    }

    section .title {
        font-size: 54px;
    }

    .phone-mockup {
        transform: translate(0, 0);
    }

    .card {
        width: calc(100% - 50px);
    }

    .card-icon {
        left: -50px;
    }

    .logo-instansi img {
        height: 35px;
    }
}

@media (min-width: 1440px) {
    .download-text {
        padding: 200px 0;
    }
}